<div style="margin-top: 50px;">
  <button type="button" (click)="redirectTo('')" class="btn btn-link">VOLVER</button>
  <h3>Proveedor:</h3>
  <p>INNORCA</p>

</div>

<div>
  <mat-form-field class="mr-1 ml-1" fxFlex>
    <input class="input"matInput  (keyup)="ApplyFilter($event.target.value)" matInput placeholder="Buscar...">
  </mat-form-field>
<div>
  <table mat-table [dataSource]="dataSource" style="background-color: white;
  color: black;border-bottom-color: rgb(80 75 75 / 12%);">

    <ng-container matColumnDef="fecha">
      <th style="color: black;" mat-header-cell *matHeaderCellDef> Fecha </th>
      <td style="color: black;border-bottom-color: rgb(80 75 75 / 12%);" mat-cell *matCellDef="let element">
        {{element.fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="audio">
      <th style="color: black;" mat-header-cell *matHeaderCellDef> Audio </th>
      <td style="color: black;border-bottom-color: rgb(80 75 75 / 12%);" mat-cell *matCellDef="let element"> <audio
          *ngIf="element.audio!==''" controls='true' src='{{element.audio}}'></audio> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="texto">
      <th style="color: black;" mat-header-cell *matHeaderCellDef> Texto </th>
      <td style="color: black;border-bottom-color: rgb(80 75 75 / 12%);" mat-cell *matCellDef="let element">
        {{element.texto}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="documento">
      <th style="color: black;" mat-header-cell *matHeaderCellDef> Adjunto </th>
      <td style="color: black;border-bottom-color: rgb(80 75 75 / 12%);" mat-cell *matCellDef="let element"> <button
          *ngIf="element.documento!==''" type="button" (click)='OpenPdf(element.documento)'
          class="btn btn-link">Soporte.pdf</button> </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>