<div style="text-align: center; margin-top: 100px;">
    <h1>
        ¿Qué deseas hacer hoy?
    </h1>
    <div>
        <div >
            <a style="margin: 20px" href="#Modal" role="button" class="btn btn-info" data-toggle="modal">Registrar</a>
            
            <div id="Modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div style="margin: 20px">
                                <button  style="width: 250px;" (click)="redirectTo('general')" type="button" class="btn btn-info" data-dismiss="modal">Informacion general</button>

                            </div>
                            <div style="margin: 20px">
                                <button style="width: 250px;" (click)="redirectTo('register')" type="button" class="btn btn-info" data-dismiss="modal">Negocio</button>

                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a href="/consult" style="margin: 20px" role="button" class="btn btn-info">Consultar</a>

        </div>

        
    </div>
</div>