<div>
    <div style="text-align: center; margin-top: 40px;"><h1>Registrar informacion general</h1></div>
    <div>
        <div class="left">
            <p>Nationality:</p>
            <p>Turnover (n-1):</p>
            <p>Other customer:</p>
            <p>Commodities supplied:</p>
            <p>Total employes:</p>
            <p>Sharedholder:</p>
            <p>Plants:</p>
            <p>Financial Rating (n-1)</p>
            <p>Quality Rating:</p>
            <p>Logistic Rating:</p>

        </div>
        <div class="right">
            <h3>Proveedor</h3>
            <p>INORCA</p>
            <h3>Contactos</h3>
            <b>Nombre:</b>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            <b>Cargo:</b>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            <b>Teléfono:</b>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            <b>Email:</b>
            <input type="email" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    
</div>
<div>
<div style="text-align: center;">
    <button style="margin: 10px;" type="button" (click)="Finish()" class="btn btn-info">GUARDAR</button>
    <button style="margin: 10px;" type="button" (click)="redirectTo('')" class="btn btn-link">Cancelar</button>
 </div>
 <a style="margin: 20px" style="display: none;"  id="ModalSucces" href="#Modal" role="button" class="btn btn-info" data-toggle="modal">modal</a>

 <div id="Modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="height: 500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <h3 style="text-align: center; margin-top: 150px !important;
                margin: 50px;">La información ha sido guardada</h3>
            </div>                        
        </div>
    </div>
</div>
</div>