<div>

    <div class="content" style="text-align: center;">
        <h1>Registrar Negocio</h1>
        <div class="left">
            <div>
                <h4>Proveedor:</h4>
                <h6>INORCA</h6>
            </div>
            <div style="margin: 30px;">
                <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                    Problema/BlackMail
                </label>

            </div>
            <div style="margin: 30px;">
                <div>
                    <i>Tiempo limite 1 minuto</i>
                </div>                
                             

                <button *ngIf = "!isRecording" type="button" (click)="startRecording()" class="btn btn-info">Grabar...</button>
                <button *ngIf = "isRecording"  type="button" (click)="stopRecording()" class="btn btn-danger">Parar...</button>
            </div>
            <div>
                <button style="margin: 10px;" type="button" (click)="redirectTo('')" class="btn btn-link">Cancelar</button>
            </div>
            <audio *ngFor="let audio of audioFiles" controls='true' [src]="audio"></audio>
        </div>
        <div class="right">
            <h2>Guia de grabación</h2>
            <p>Ten en cuenta incluir:
                Referencia/Multireferencia, Nombre pieza
                Es serie o postventa
                Categoría de impacto (Forex, corrección, productividad, macroeconómica, materia prima...)
                Vigencia de la acción 
            </p>
        </div>
        
        
    </div>
    
    <input type="file" style="display: none;" id="InputFile" name="upload" accept="application/pdf" (change)="ChangeFile($event.target)" />
    
    <button style="margin: 30px;" type="button" (click)="Adjutar()" class="btn btn-info">{{fileName}}</button>
    <button [disabled]="!(pdfInBase64!=='' || audioFiles)" style="margin: 30px;" type="button"  (click)="Finish()" class="btn btn-info">Finalizar</button>
    
        <a style="margin: 20px" style="display: none;"  id="ModalSucces" href="#Modal" role="button" class="btn btn-info" data-toggle="modal">modal</a>
        
        <div id="Modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content" style="height: 500px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <h3 style="text-align: center; margin-top: 150px">La información ha sido guardada</h3>
                    </div>                        
                </div>
            </div>
        </div>
    
    
    

</div>